// @import '../global-scss/global-master-dir';

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    margin-bottom: $null;
}

.master-container {

    @include calc(width, '#{$full} - 40px');
    @include box-center(block, auto);
    padding-top: $defaut-padding;

    .row-child {
        @include flex-child(column);

        @include device(lg) {
            @include flex-child(row);
            @include justify-content(space-between);

        }

        &.main-layout {
            .connect-widget-box {
                @include flex-item(0, 0, $default-unit*212);

                img {
                    // margin: $defaut-margin*2.5 $null;
                    margin-bottom: $defaut-margin*1.5;
                    margin-top: $defaut-margin*1.5;
                }

                .connect-widget {
                    @include box-style($defaut-padding $defaut-padding,
                        $null,
                        none,
                        10px);
                    background-color: $white-color;
                    @include box-shadow(0px, 0px, 9px, rgba($shadow-color, .3));

                    // display: none;
                    .ccpcontainer {
                        // float: left;
                        width: $full;
                        height: $default-unit*283;

                    }
                }
            }

            .dashboard-box {
                @include flex-item(0, 0, calc(#{$full} - #{$default-unit*222}));
                @include flex-child(row);
                @include justify-content(space-between);
                @include align-content(flex-start);
                @include flex-wrap(wrap);

                h1 {
                    @include typo(24px, 30px, normal, $typo-color, normal);
                    // padding: $defaut-padding $null;
                    margin-bottom: $null;
                    @include align-self(center);

                    b {
                        color: $typo-color;
                        font-weight: 600;
                        margin-right: $defaut-margin/2;
                    }

                }

                .dashboard {
                    @include flex-item(0, 0, $full);

                    @include box-style($null,
                        0,
                        none,
                        10px);
                    background-color: $white-color;
                    @include box-shadow(0px, 0px, 9px, rgba($shadow-color, .3));

                    .user-details {
                        padding: $defaut-padding*2.5;
                        padding-bottom: $defaut-padding;
                        border-bottom: 2px solid rgba($shadow-color, .2);
                        @include flex-child(row);
                        @include justify-content(space-between);
                        @include align-items(center);

                        .details {
                            padding-left: $defaut-padding*3.5;
                            position: relative;

                            .icon {
                                font-size: 28px;
                                color: $secondary-color;
                                position: absolute;
                                left: $null;
                                top: $null;
                            }

                            label {
                                @include typo(16px, 30px, normal, $typo-color, normal);
                            }

                            h3 {
                                @include typo(16px, 30px, normal, $black-color, 600);
                            }
                        }

                        .system-helth {
                            padding-left: $defaut-padding*6;
                            position: relative;

                            .icon {
                                font-size: 56px;
                                color: $secondary-color;
                                position: absolute;
                                left: $null;
                                top: $null;

                                &.icon-system-happy {
                                    &::before {
                                        color: $sucess;
                                    }
                                }

                                &.icon-system-avarage {
                                    &::before {
                                        color: $warning;
                                    }
                                }

                                &.icon-system-bad {
                                    &::before {
                                        color: $danger;
                                    }
                                }
                            }



                            label {
                                @include typo(16px, 30px, normal, $typo-color, normal);
                                margin-top: $defaut-margin/3;
                                display: block;
                            }

                            .health-progress {
                                @include flex-child(row);
                                @include justify-content(space-between);

                                span {
                                    background-color: $nutral-color;
                                    width:calc(#{$full/6} - 10px);
                                    height: $default-unit*2.5;
                                    display: inline-block;
                                    @include box-style($defaut-padding/2 $null,
                                        $defaut-margin - 2 $defaut-margin/2 $null $null,
                                        none,
                                        10px);

                                    &:first-child {
                                        margin-left: $null;
                                    }


                                }

                                // h5 {
                                //     display: inline-block;

                                //     &.happy {
                                //         @include typo(16px, 30px, normal, $sucess, normal);
                                //     }

                                //     &.avarage {
                                //         @include typo(16px, 30px, normal, $warning, normal);
                                //     }

                                //     &.bad {
                                //         @include typo(16px, 30px, normal, $danger, normal);
                                //     }
                                // }
                            }

                            &.system-happy {
                                .icon {
                                    display: none;
                                }

                                .icon-system-happy {
                                    display: inline-block;
                                }

                                .health-progress {
                                    .active-progress {
                                        background-color: $sucess;
                                    }
                                }

                                h5 {
                                    @include typo(16px, 30px, normal, $sucess, normal);
                                }


                            }

                            &.system-avarage {
                                .icon {
                                    display: none;
                                }

                                .icon-system-avarage {
                                    display: inline-block;
                                }

                                .health-progress {
                                    .active-progress {
                                        background-color: $warning;
                                    }

                                    h5 {
                                        @include typo(16px, 30px, normal, $warning, normal);
                                    }
                                }


                            }

                            &.system-bad {
                                .icon {
                                    display: none;
                                }

                                .icon-system-bad {
                                    display: inline-block;
                                }

                                .health-progress {
                                    .active-progress {
                                        background-color: $danger;
                                    }
                                }

                                h5 {
                                    @include typo(16px, 30px, normal, $danger, normal);
                                }

                            }

                        }
                    }

                    .accordian-box {
                        padding: $defaut-padding*2.5;

                        .accordian {

                            &.card {
                                background-color: transparent;
                                border: none;
                            }

                            .accordian-head {
                                &.card-header {
                                    padding: $null;
                                    margin: $null;
                                    background-color: transparent;
                                    border: none;
                                    margin-bottom: $defaut-margin;
                                }

                                @include flex-child(row);
                                @include justify-content(space-between);
                                @include align-items(center);

                                >.icon {
                                    font-size: 36px;
                                    color: $secondary-color;
                                }

                                h5 {
                                    @include flex-item(1, 1, auto);
                                    @include typo(16px, 30px, normal, $typo-color, normal);
                                    padding: $defaut-padding;
                                    margin: $null;
                                    position: relative;

                                    >span {
                                        background-color: $white-color;
                                        z-index: 99;
                                        position: relative;
                                        padding-right: $defaut-padding;
                                    }

                                    &::before {
                                        content: '';
                                        display: inline-block;
                                        background-color: $secondary-color;
                                        height: $default-unit;
                                        width: $full - 10;
                                        @include v-center();
                                        right: $null;
                                        z-index: 9;
                                    }
                                }

                                .accordian-trigger {
                                    >.icon {
                                        font-size: 38px;
                                        color: $secondary-color;
                                    }
                                }
                            }

                            .card-body {
                                // display: none;
                                padding: $defaut-margin - 2.5 $defaut-padding*1.5;
                                margin-left: $defaut-margin*4.6;
                                margin-right: $defaut-margin*5;
                                margin-bottom: $defaut-margin*2.5;
                                background: lighten($theme-60-color, 4.5%);
                                max-height: 300px;
                                overflow-y: auto;
                                border: 2px solid lighten($theme-60-color, 1%);
                                @include border-radius(10px);

                                .fetch-data {
                                    @include flex-child(row);
                                    @include justify-content(flex-start);
                                    @include flex-wrap(wrap);

                                    .data-details {
                                        margin: $defaut-margin - 2.5 $defaut-margin*1.5;
                                        margin-bottom: $null;

                                        &:first-child {
                                            margin-left: $null;
                                        }

                                        label {
                                            @include typo(14px, 30px, normal, $typo-color, normal);
                                            text-transform: uppercase;

                                            // margin-bottom: $defaut-margin;

                                        }

                                        h3 {
                                            @include typo(16px, 30px, normal, $black-color, 500);
                                            margin-bottom: $defaut-margin*1.5;
                                            position: relative;

                                            &::before {
                                                content: '';
                                                display: block;
                                                @include v-center();
                                                width: $default-unit*10;
                                                height: $default-unit;
                                                background-color: $secondary-color;
                                                top: $full;
                                            }
                                        }
                                    }

                                    &.form {
                                        .data-details {
                                            @include flex-child(column);
                                            @include justify-content(flex-start);
                                            margin: $null;
                                            margin-right: $defaut-margin*2;
                                            // &:first-child{

                                            // }

                                            &.button-box {
                                                @include flex-child(row);
                                                @include justify-content(flex-end);
                                                @include align-items(flex-end);

                                                span {
                                                    padding: $defaut-padding;
                                                    @include typo(16px, 30px, normal, darken($theme-60-color, 10%), normal);
                                                }

                                            }
                                        }
                                    }

                                    &.auth-box{
                                        .data-details {
                                            width: $full;
                                            max-width: $full/4;
                                            margin: $null;
                                            border: thin solid lighten($theme-60-color, 1%);
                                            border-top: none;
                                            border-bottom: none;



                                            label {
                                                padding-left: $defaut-padding*1.5;
                                                padding-right: $defaut-padding*1.5;
                                                padding-bottom: $defaut-padding - 2.5;
                                                // display: none;
                                                position: relative;

                                                &::before {
                                                    content: '';
                                                    display: block;
                                                    @include v-center();
                                                    width: $default-unit*10;
                                                    height: $default-unit;
                                                    background-color: $secondary-color;
                                                    top: $full;
                                                }
                                            }

                                            &:first-child {
                                                border: none;
                                                // border-bottom: thin solid lighten($theme-60-color, 1%);

                                            }

                                            &:last-child {
                                                border-top: none;
                                                border-right: none;
                                                // border-bottom: thin solid lighten($theme-60-color, 1%);

                                            }


                                            h3 {
                                                padding-left: $defaut-padding*1.5;
                                                padding-right: $defaut-padding*1.5;
                                                padding-top: $defaut-padding - 2.5;
                                                padding-bottom: $defaut-padding - 2.5;
                                                margin-bottom: $null;

                                                &::before {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }

                                    &.chat-box {
                                        @include flex-child(column);
                                        @include justify-content(flex-start);
                                        margin: $null;

                                        .data-details {
                                            @include flex-child(column);
                                            @include justify-content(flex-start);
                                            margin: $null;

                                            .agent-chat-box {
                                                @include flexbox();
                                                @include justify-content(flex-start);
                                                @include align-self(flex-end);
                                                @include align-items(flex-start);
                                                @include align-content(flex-start);
                                                @include box-style($defaut-padding,
                                                    0,
                                                    2px solid darken($theme-60-color, 2%),
                                                    10px);
                                                background-color: $white-color;
                                                @include typo(16px, 24px, normal, $typo-color, normal);
                                                margin-bottom: $defaut-margin;
                                                margin-left: $defaut-margin*10;

                                                span {
                                                    margin-top: 6px;
                                                    margin-left: $defaut-margin;
                                                }

                                                .agent-role {
                                                    font-size: 0px;
                                                    line-height: 1rem;
                                                    @include box-style(3px $defaut-padding,
                                                        0,
                                                        2px solid darken($theme-60-color, 2%),
                                                        $null $defaut-margin $null $null);
                                                    background-color: $theme-60-color;
                                                    @include border-radius(50px);


                                                    // &::first-letter {
                                                    @include typo(16px, 24px, normal, $typo-color, normal);

                                                    // }
                                                }
                                            }

                                            .user-chat-box {
                                                @include flexbox();
                                                @include justify-content(flex-start);
                                                @include align-self(flex-start);
                                                @include align-items(flex-start);
                                                @include align-content(flex-start);
                                                @include box-style($defaut-padding,
                                                    0,
                                                    2px solid darken($theme-60-color, 2%),
                                                    10px);
                                                background-color: $white-color;
                                                @include typo(16px, 24px, normal, $typo-color, normal);
                                                margin-bottom: $defaut-margin;
                                                margin-right: $defaut-margin*10;

                                                span {
                                                    margin-top: 6px;
                                                    margin-left: $defaut-margin;
                                                }


                                                .user-role {

                                                    font-size: 0px;
                                                    line-height: 1rem;
                                                    @include box-style(3px $defaut-padding,
                                                        0,
                                                        2px solid darken($theme-60-color, 2%),
                                                        $null $defaut-margin $null $null);
                                                    background-color: $theme-60-color;
                                                    @include border-radius(50px);


                                                    //&::first-letter {
                                                    @include typo(16px, 24px, normal, $typo-color, normal);

                                                    //}
                                                }
                                            }
                                        }


                                    }

                                    &.trace-records {
                                        .data-details {
                                            margin: $null;
                                            width: $full;
                                            padding-top: $defaut-padding;
                                            padding-bottom: $defaut-padding;
                                            border-bottom: 2px solid darken($theme-60-color, 4%);
                                            @include flexbox();
                                            @include flex-child(row);
                                            @include justify-content(flex-start);

                                            &:last-child {
                                                border-bottom: none;
                                            }

                                            label {
                                                @include typo(16px, 30px, normal, $typo-color, normal);
                                            }

                                            h3 {
                                                @include typo(16px, 30px, normal, $black-color, 500);
                                                margin-bottom: $null;
                                            }

                                            .icon {
                                                font-size: 18px;
                                                line-height: 25px;
                                                color: $secondary-color;
                                                display: inline-block;
                                                padding-right: $defaut-padding;
                                            }

                                            p {
                                                @include typo(16px, 30px, normal, $typo-color, normal);
                                                margin-bottom: $null;
                                            }
                                        }
                                    }

                                    &.customer-details {


                                        .data-details {
                                            width: $full;
                                            max-width: $full/4;
                                            margin: $null;
                                            border: thin solid lighten($theme-60-color, 1%);
                                            border-top: none;
                                            border-bottom: none;



                                            label {
                                                padding-left: $defaut-padding*1.5;
                                                padding-right: $defaut-padding*1.5;
                                                padding-bottom: $defaut-padding - 2.5;
                                                display: none;
                                                position: relative;

                                                &::before {
                                                    content: '';
                                                    display: block;
                                                    @include v-center();
                                                    width: $default-unit*10;
                                                    height: $default-unit;
                                                    background-color: $secondary-color;
                                                    top: $full;
                                                }
                                            }

                                            &:first-child {
                                                border: none;
                                                // border-bottom: thin solid lighten($theme-60-color, 1%);

                                            }

                                            &:last-child {
                                                border-top: none;
                                                border-right: none;
                                                // border-bottom: thin solid lighten($theme-60-color, 1%);

                                            }


                                            h3 {
                                                padding-left: $defaut-padding*1.5;
                                                padding-right: $defaut-padding*1.5;
                                                padding-top: $defaut-padding - 2.5;
                                                padding-bottom: $defaut-padding - 2.5;
                                                margin-bottom: $null;

                                                &::before {
                                                    display: none;
                                                }
                                            }
                                        }

                                        &:first-child {
                                            .data-details {
                                                margin: $defaut-margin - 2.5 $null;
                                                margin-bottom: $null;

                                                label {
                                                    display: block;
                                                }
                                            }
                                        }
                                    }

                                    &.call-history {


                                        .data-details {
                                            width: $full;
                                            max-width: $full/3;
                                            margin: $null;
                                            border: thin solid lighten($theme-60-color, 1%);
                                            border-top: none;
                                            // border-bottom: none;



                                            label {
                                                padding-left: $defaut-padding*1.5;
                                                padding-right: $defaut-padding*1.5;
                                                padding-bottom: $defaut-padding - 2.5;
                                                display: none;
                                                position: relative;

                                                &::before {
                                                    content: '';
                                                    display: block;
                                                    @include v-center();
                                                    width: $default-unit*10;
                                                    height: $default-unit;
                                                    background-color: $secondary-color;
                                                    top: $full;
                                                }
                                            }

                                            &:first-child {
                                                border: none;
                                                border-bottom: thin solid lighten($theme-60-color, 1%);

                                            }

                                            &:last-child {
                                                border-top: none;
                                                border-right: none;
                                                border-bottom: thin solid lighten($theme-60-color, 1%);

                                            }


                                            h3 {
                                                padding-left: $defaut-padding*1.5;
                                                padding-right: $defaut-padding*1.5;
                                                padding-top: $defaut-padding - 2.5;
                                                padding-bottom: $defaut-padding - 2.5;
                                                margin-bottom: $null;

                                                &::before {
                                                    display: none;
                                                }
                                            }
                                        }

                                        &:first-child {
                                            .data-details {
                                                margin: $defaut-margin - 2.5 $null;
                                                margin-bottom: $null;

                                                label {
                                                    display: block;
                                                }
                                            }
                                        }


                                    }

                                }
                            }

                            &.active {
                                // > .accordian-content{
                                //     display: block;
                                // }
                            }
                        }
                    }
                }

                .service-call-box {
                    @include flex-child(row);
                    @include justify-content(flex-start);
                    // @include align-self(flex-end);
                    // @include align-items(flex-end);
                    // @include align-content(flex-end);
                    padding-top: $defaut-padding*1.5;
                    margin-bottom: $defaut-margin*2;

                    button,
                    a {
                        @include flex-child(row);
                        @include justify-content(space-between);
                        @include align-items(center);
                        @include box-style($defaut-padding 20px,
                            0,
                            none,
                            10px);
                        @include box-shadow(0px, 0px, 9px, rgba($shadow-color, .3));
                        // @include box($default-unit*100);
                        background-color: $primary-color;
                        margin-right: $defaut-margin*1.5;
                        text-align: center;
                        cursor: pointer;

                        .icon {
                            font-size: 28px;
                            color: $white-color;
                            display: block;
                            padding-right: $defaut-padding;
                            cursor: pointer;
                        }

                        label {
                            @include typo(16px, 30px, normal, $white-color, normal);
                            cursor: pointer;
                        }

                        &:last-child {
                            margin-right: $null;
                        }

                        &:hover {
                            background-color: $secondary-color;

                            .icon {
                                color: $white-color;
                            }

                            label {
                                color: $white-color;
                            }
                        }
                    }
                }
            }
        }
    }
}